emdash-aiemployee/scripts/n8n_tiktok_workflow.json
{
  "name": "AIEmployee TikTok Upload Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "aiemployee-tiktok-upload"
    },
    {
      "parameters": {
        "filePath": "={{ $json.filePath }}",
        "options": {}
      },
      "id": "read-file",
      "name": "Read Video File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "{{ $json.fileExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-file",
      "name": "File Exists Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "filePath": "={{ $json.filePath }}",
        "additionalFields": {
          "description": "={{ $json.description }}",
          "title": "={{ $json.title }}"
        }
      },
      "id": "tiktok-upload",
      "name": "Upload to TikTok",
      "type": "tiktok",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "tiktokApi": {
          "id": "tiktok-creds",
          "name": "TikTok API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "type": "note",
        "message": "={{ $json.error || 'Upload failed' }}"
      },
      "id": "upload-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "videoId": "={{ $json.video_id }}",
          "status": "uploaded",
          "timestamp": "={{ $now }}",
          "workflowId": "aiemployee-tiktok"
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video File": {
      "main": [
        [
          {
            "node": "File Exists Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists Check": {
      "main": [
        [
          {
            "node": "Upload to TikTok",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to TikTok": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "aiemployee-tiktok-workflow",
  "tags": [
    {
      "name": "aiemployee"
    },
    {
      "name": "tiktok"
    },
    {
      "name": "automation"
    }
  ]
}
